/~
/resources/frontend/angular/dynamic-docker-portal/~/
/resources/frontend/angular/dynamic-docker-portal/node_modules
/resources/frontend/angular/dynamic-docker-portal/src/assets/config/config.json
/public/dynamic-docker-portal
/public/hot
/public/storage
/storage/*.key
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
.DS_Store
