<h1 class="text-secondary bg-primary text-center">Select the programming language</h1>


<div class="formgroup-inline">

    <p-card header="C++" subheader="C++ programming" [style]="{ width: '320px'}" class="mr-5 bg-secondary">
        <ng-template pTemplate="footer">
            <p-button label="Go To Form" icon="pi pi-directions" styleClass="p-button-warning" (click)="goToC()"></p-button>
        </ng-template>
    </p-card>
    
    <p-card header="Java" subheader="Java programming" [style]="{ width: '360px'}">
        <ng-template pTemplate="footer">
            <p-button label="Go To Form" icon="pi pi-directions" styleClass="p-button-success" (click)="goToJava()"></p-button>
        </ng-template>
    </p-card>

    <p-card header="Python" subheader="Python programming" [style]="{ width: '320px'}" class="ml-5 bg-secondary">
        <ng-template pTemplate="footer">
            <p-button label="Go To Form" icon="pi pi-directions" styleClass="p-button-danger" (click)="goToPython()"></p-button>
        </ng-template>
    </p-card>

    <p-card header="JavaScript" subheader="JavaScript programming" [style]="{ width: '320px'}" class="ml-5 bg-secondary">
        <ng-template pTemplate="footer">
            <p-button label="Go To Form" icon="pi pi-directions" styleClass="p-button-info" (click)="goToJavaScript()"></p-button>
        </ng-template>
    </p-card>

    <p-card header="Others" subheader="Other programming" [style]="{ width: '320px'}" class="ml-5 bg-secondary">
        <ng-template pTemplate="footer">
            <p-button label="Go To Form" icon="pi pi-directions" styleClass="p-button-help" (click)="goToOther()"></p-button>
        </ng-template>
    </p-card>



</div>
