<p-toast></p-toast>
<div class="card">
    <h1>Docker File Creating</h1>

    <form [formGroup]="createForm">
        <div class="field col-12 md:col-6">
            <label for="name" class="text-xl font-semi-bold">Name</label>
            <input type="text" formControlName="name"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full" required>
        </div>


        <div class="field col-12 md:col-6">
            <label for="description" class="text-xl font-semi-bold">Description</label>
            <textarea id="description" type="text" formControlName="description" rows="4"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full" required>
                </textarea>
        </div>

        <div class="field col-12 md:col-12">
            <div class="formgroup-inline">
                <div class="field-radiobutton" *ngFor="let os of osType">
                    <p-radioButton name="os" [inputId]="os.key" [value]="os.id" formControlName="os">
                    </p-radioButton>
                    <label [for]="os.key" class="text-xl font-semi-bold">{{os.name}}</label>
                </div>
            </div>
        </div>

        <div *ngIf="newUser">
            <div class="field col-12 md:col-12">
                <label for="programming" class="text-xl font-semi-bold">Programming Language</label><br>
                <!-- <div class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full"> -->
                <p-dropdown [options]="programmings" optionLabel="label" optionValue="id" formControlName="programming"
                    (onChange)="onSelectProgramming($event.value)">
                </p-dropdown>
                <!-- </div> -->
            </div>
        </div>
    
        <div *ngIf="!newUser">
            <div formArrayName="new_user">
                <div class="field col-12 md:col-12">
                    <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                        Instruction</label><br>
                    <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                        (onChange)="onSelectNewUserInstruction($event.value)">
                    </p-dropdown>
                </div>
    
                <div class="field col-12 md:col-6" *ngFor="let instruction of newUserInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="newUserInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key, newUserInstructions)">
                    </button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, newUserInstructions)">
                    </button>
                </div>
            </div>
        </div>

        

        <div formArrayName="js">
            <div *ngIf="isJavaScript">

                <!-- New Docker instruction -->

                <!-- <div *ngIf="isNewDockerInstruction"> -->
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                             (onChange)="onSelectJsNewInstruction($event.value)">
                        </p-dropdown>
                    </div>
                <!-- </div> -->

                <div class="field col-12 md:col-6" *ngFor="let instruction of jsInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="jsInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key ,jsInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, jsInstructions)"></button>
                </div>
            </div>
        </div>


        <div formArrayName="java">
            <div *ngIf="isJava">

                <!-- New Docker instruction -->

                <!-- <div *ngIf="isNewDockerInstruction"> -->
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                            (onChange)="onSelectJavaNewInstruction($event.value)">
                        </p-dropdown>
                    </div>
                <!-- </div> -->

                <div class="field col-12 md:col-6" *ngFor="let instruction of javaInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="javaInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key, javaInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, javaInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="php">
            <div *ngIf="isPHP">

                <!-- New Docker instruction -->

                <!-- <div *ngIf="isNewDockerInstruction"> -->
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                            (onChange)="onSelectPHPNewInstruction($event.value)">
                        </p-dropdown>
                    </div>
                <!-- </div> -->

                <div class="field col-12 md:col-6" *ngFor="let instruction of phpInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="phpInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key, phpInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, phpInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="python">
            <div *ngIf="isPython">

                <!-- New Docker instruction -->

                <!-- <div *ngIf="isNewDockerInstruction"> -->
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                            (onChange)="onSelectPyNewInstruction($event.value)">
                        </p-dropdown>
                    </div>
                <!-- </div> -->

                <div class="field col-12 md:col-6" *ngFor="let instruction of pyInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="pyInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key, pyInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, pyInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="others">
            <div *ngIf="isOthers">

                <!-- New Docker instruction -->

                <!-- <div *ngIf="isNewDockerInstruction"> -->
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                            (onChange)="onSelectOthersNewInstruction($event.value)">
                        </p-dropdown>
                    </div>
                <!-- </div> -->

                <div class="field col-12 md:col-6" *ngFor="let instruction of othersInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="othersInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key, othersInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, othersInstructions)"></button>
                </div>
            </div>
        </div>


        <!--
        <div formArrayName="ns">
            <div *ngIf="isNS">
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                             (onChange)="onSelectNsNewInstruction($event.value)">
                        </p-dropdown>
                    </div>
        
                <div class="field col-12 md:col-6" *ngFor="let instruction of nsInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="nsInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key ,nsInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, nsInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="oa">
            <div *ngIf="isOA">
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                             (onChange)="onSelectOaNewInstruction($event.value)">
                        </p-dropdown>
                    </div>

                <div class="field col-12 md:col-6" *ngFor="let instruction of oaInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="oaInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key ,oaInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, oaInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="dc">
            <div *ngIf="isDC">
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                             (onChange)="onSelectDcNewInstruction($event.value)">
                        </p-dropdown>
                    </div>

                <div class="field col-12 md:col-6" *ngFor="let instruction of dcInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="dcInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key ,dcInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, dcInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="rnn">
            <div *ngIf="isRNN">
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                             (onChange)="onSelectRnnNewInstruction($event.value)">
                        </p-dropdown>
                    </div>

                <div class="field col-12 md:col-6" *ngFor="let instruction of rnnInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="rnnInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key ,rnnInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, rnnInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="cnn">
            <div *ngIf="isCNN">
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                             (onChange)="onSelectCnnNewInstruction($event.value)">
                        </p-dropdown>
                    </div>

                <div class="field col-12 md:col-6" *ngFor="let instruction of cnnInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="cnnInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key ,cnnInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, cnnInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="ff">
            <div *ngIf="isFF">
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                             (onChange)="onSelectFfNewInstruction($event.value)">
                        </p-dropdown>
                    </div>

                <div class="field col-12 md:col-6" *ngFor="let instruction of ffInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="ffInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key ,ffInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, ffInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="con">
            <div *ngIf="isCon">
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                             (onChange)="onSelectConNewInstruction($event.value)">
                        </p-dropdown>
                    </div>

                <div class="field col-12 md:col-6" *ngFor="let instruction of conInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="conInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key ,conInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, conInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="pala">
            <div *ngIf="isPala">
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                             (onChange)="onSelectPalaNewInstruction($event.value)">
                        </p-dropdown>
                    </div>

                <div class="field col-12 md:col-6" *ngFor="let instruction of palaInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="palaInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key ,palaInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, palaInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="flow">
            <div *ngIf="isFlow">
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                             (onChange)="onSelectFlowNewInstruction($event.value)">
                        </p-dropdown>
                    </div>

                <div class="field col-12 md:col-6" *ngFor="let instruction of flowInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="flowInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key ,flowInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, flowInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="bm">
            <div *ngIf="isBM">
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                             (onChange)="onSelectBmNewInstruction($event.value)">
                        </p-dropdown>
                    </div>

                <div class="field col-12 md:col-6" *ngFor="let instruction of bmInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="bmInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key ,bmInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, bmInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="cdet">
            <div *ngIf="isCdet">
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                             (onChange)="onSelectCdetNewInstruction($event.value)">
                        </p-dropdown>
                    </div>

                <div class="field col-12 md:col-6" *ngFor="let instruction of cdetInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="cdetInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key ,cdetInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, cdetInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="cop">
            <div *ngIf="isCOP">
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                             (onChange)="onSelectCopNewInstruction($event.value)">
                        </p-dropdown>
                    </div>

                <div class="field col-12 md:col-6" *ngFor="let instruction of copInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="copInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key ,copInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, copInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="mcr">
            <div *ngIf="isMCR">
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                             (onChange)="onSelectMcrNewInstruction($event.value)">
                        </p-dropdown>
                    </div>

                <div class="field col-12 md:col-6" *ngFor="let instruction of mcrInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="mcrInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key ,mcrInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, mcrInstructions)"></button>
                </div>
            </div>
        </div>

        <div formArrayName="mfc">
            <div *ngIf="isMFC">
                    <div class="field col-12 md:col-12">
                        <label for="new-docker-instruction" class="text-xl font-semi-bold">New Docker
                            Instruction</label><br>
                        <p-dropdown [options]="newDockerInstructions" optionLabel="label" optionValue="name"
                             (onChange)="onSelectMfcNewInstruction($event.value)">
                        </p-dropdown>
                    </div>

                <div class="field col-12 md:col-6" *ngFor="let instruction of mfcInstructions; let i=index">
                    <label for="instruction.id" class="text-xl font-semi-bold">{{instruction.key}}</label>
                    <input type="text" [value]="instruction.value" name="type-{{i}}"
                        [(ngModel)]="mfcInstructions[i].value" [ngModelOptions]="{standalone: true}"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round apperance-none outline-none focus:border-primary w-full">
                    <button pButton type="button" label="+Add" class="p-button-success mr-3 mt-3"
                        (click)="addDuplicateInstruction(instruction.key ,mfcInstructions)"></button>
                    <button pButton type="button" label="-Remove" class="p-button-danger mt-3"
                        (click)="removeInstruction(i, mfcInstructions)"></button>
                </div>
            </div>
        </div> -->



        <div class="field col-12 md:col-12">
            <button pButton type="button" icon="pi pi-download" label="Create & Export" class="mt-3 mr-5" (click)="createDockerFile()" [disabled]="!createForm.valid || disableButton"></button>
            <button pButton type="button" icon="pi pi-list" label="Go To Listing >" class="mt-3 p-button-warning"
                (click)="goToListing()"></button>
        </div>
        
    </form>

</div>