:host ::ng-deep .p-autocomplete input {
    width: 600px;
    font-size: 16px;
    /* Add more custom styles here */
} 


:host ::ng-deep .p-card {
    background: #cfcfcf !important; /* Set the desired background color */
  }

  .label-width {
    display: inline-block;
    width: 150px; /* Adjust this value as needed for desired label width */
    /* Other styling as required */
}
