<p-toast></p-toast>

<h1> Docker File Listing </h1>

<p-confirmPopup></p-confirmPopup>

<div class="field">
    <div class="col-12 md:col-12 text-left">
        <button pButton type="button" icon="pi pi-home"  label="Go To Home" class="mt-3 p-button-warning" (click)="goToHome()"></button> 
    </div>
    <!-- <button pButton type="button" label="+ Create" class="mt-3 p-button-success" (click)="goToCreate()"></button>  -->

</div>



<p-table [value]="instructions" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-instruction>
        <tr>
            <td>{{instruction.id}}</td>
            <td>{{instruction.name}}</td>
            <td>{{instruction.description}}</td>
            <!-- <td>{{instruction.from}}</td> -->
            <td *ngIf="instruction.image_status == 0">
                <button pButton pRipple type="button" icon="pi pi-send" label="ready"
                    class="p-button-rounded p-button-outlined p-button-danger" (click)="confirm($event, instruction)"></button>
            </td>
            <td *ngIf="instruction.image_status == 1">
                <button pButton pRipple type="button" icon="pi pi-clock" label="pushed"
                    class="p-button-rounded p-button-outlined p-button-success" (click)="confirmOne($event, instruction)">
                </button>
                <p id="demo"></p>
            </td>
            <td *ngIf="instruction.image_status == 2">
                <button pButton pRipple type="button" icon="pi pi-cloud-upload" label="updated"
                    class="p-button-rounded p-button-outlined p-button-warning">
                </button>
                <p id="demo"></p>
            </td>
            <td>
                <button pButton pRipple type="button" icon="pi pi-pencil" label="detail" class="p-button-rounded p-button-primary"
                    (click)="goToDetail(instruction)">
                </button> | 
                <button pButton pRipple type="button" icon="pi pi-trash" label="delete" class="p-button-rounded p-button-danger"
                (click)="delete(instructions, instruction)">
            </button>
            </td>
        </tr>
    </ng-template>
</p-table>